h1{
	text-align: center;
	color: lime;
	margin-top: 50px;
	font-size: 70px;
}
.tick{
	margin-left: 430px;
	height: 230px;
	animation: zoom;
	animation-duration: 3s;
	border-radius: 500px;
}
.animate-zoom{
	animation: zoom;
	animation-duration: 3s;
}
.thnx{
	margin-top: 50px;
	text-align: center;
	color: lightgreen;
}
.line{
	text-align: center;
	margin-top: 30px;
	color: aquamarine;
}
body{
	background-color: teal;
}
.navbar-brand{
	color: red;
}
.navbar-toggler-icon{
	border: 1px solid white;
		
}